body {
  //letter-spacing: -1px;
  font-weight: 300;
  @media (min-width: 992px) {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .title {
  font-weight: 400;
}

p {
  @media (min-width: 992px) {
      font-size: 1.5rem;
      line-height: 1.25;
      margin-bottom: 1.125rem;
  }
}
