.how {

  &__inner {

  }
  &__header {

  }
  &__title {

  }
  &__text {

  }
  &__content {

  }
  &__item {
    padding: 1rem 0;
    @media (min-width: 992px) {
      padding: 2rem 0;
    }
  }
  &__item-image {
    display: block;
    margin-bottom: 2rem;
  }

  &__item-text {
    padding-bottom: .25rem;
    margin-bottom: 0;
    @media (min-width: 992px) {
      padding-bottom: .5rem;
    }
  }

  &__image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;

    &--1 {
      background-image: url('../images/general/2.svg');
      height: 638px;
      background-position-y: 58%;
      background-size: 134%;
      background-position-x: center;
    }

    &--2 {
      height: 730px;
      background-image: url('../images/general/3.svg');
      background-position-y: 58%;
      background-size: 106%;
      background-position-x: center;
    }
    &--3 {
      height: 690px;
      background-image: url('../images/general/4.svg');
      background-position-y: 50%;
    }

    @media (max-width: 1200px) {
      &--1 {
        height: 540px;
        background-position-y: 62%;
      }
      &--2 {
        height: 596px;
      }
      &--3 {
        height: 566px;
      }
    }


    @media (max-width: 992px) {
      &--1 {
        height: 400px;
      }
      &--2 {
        height: 446px;
      }
      &--3 {
        height: 424px;
      }
    }


    @media (max-width: 764px) {
      &--1 {
        height: 410px;
        background-size: 268%;
        background-position-y: 64%;
      }
      &--2 {
        height: 384px;
        background-size: 154%;
        background-position-y: 32%;
        background-position-x: 22%;
      }
      &--3 {
        height: 490px;
        background-size: 198%;
        background-position-y: 38%;
        background-position-x: 50%;
      }
    }

    @media (max-width: 492px) {
      &--1 {
        height: 362px;
        background-size: 202%;
        background-position-x: 55%;
      }
      &--2 {
        height: 376px;
        background-size: 200%;
        background-position-x: 16%;
      }
    }


    @media (max-width: 424px) {
      &--1 {
        height: 300px;
        background-position-y: -102px;
      }
      &--2 {
        height: 290px;
        background-size: 200%;
        background-position-x: 16%;
      }
      &--3 {
        height: 372px;
        background-size: 250%;
        background-position-x: 58%;
      }
    }
  }
}
