.preview {
  padding: 0;
  @media (min-width: 768px) {
    padding-bottom: 1rem;
  }
  @media (min-width: 992px) {
    padding-bottom: 2rem;
  }
  &__inner {
    position: relative;
  }
  &__content {
    margin-bottom: 1rem;
    @media (min-width: 768px) {
      position: absolute;
      z-index: 1;
      top: 19%;
      margin-bottom: 0;
    }

    @media (min-width: 992px) {
      top: 22%;
    }
  }
  &__title {
    font-family: $font-family-serif;
    font-size: 6.5vw;
    line-height: 1.25;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: bold;

    @media (min-width: 576px) {
      font-size: 2.25rem;
    }

    @media (min-width: 768px) {
      font-size: 1.475rem;
    }

    @media (min-width: 992px) {
      font-size: 2rem;
    }

    @media (min-width: 1200px) {
      font-size: 2.375rem;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
  &__button {
    display: block;
    text-align: center;

    font-size: 3vw;
    width: calc(50% - .125rem);
    max-width: calc(50% - .125rem);

    @media (min-width: 640px) {
      font-size: .75rem;
    }

    @media (min-width: 768px) {
      font-size: .625rem;
      width: auto;
      max-width: 100%;
      margin-right: .5rem;
    }

    @media (min-width: 992px) {
      font-size: 1.125rem;
    }

    @media (min-width: 1200px) {
      font-size: 1.25rem;
    }

    &--consultation {

    }

    &--calc {

    }
  }

  &__bg {
    background-image: url('../images/general/preview__bg.svg');
    background-repeat: no-repeat;
    height: 275px;
    background-size: auto 100%;
    background-position: top right;
    margin-bottom: 1rem;

    @media (min-width: 375px) {
      height: 300px;
    }

    @media (min-width: 420px) {
      height: 360px;
    }

    @media (min-width: 480px) {
      height: 410px;
    }

    @media (min-width: 520px) {
      height: 440px;
    }

    @media (min-width: 576px) {
      height: 460px;
    }

    @media (min-width: 768px) {
        display: block !important;
        height: 330px;
        margin-bottom: 0;
    }

    @media (min-width: 992px) {
      height: 440px;
    }

    @media (min-width: 1200px) {
      height: 520px;
    }

    //height: 546px;
    //background-size: 108%;

    //margin-bottom: 0;
    //
    //@media (max-width: 1200px) {
    //    height: 458px;
    //}
    //@media (max-width: 992px) {
    //  height: 342px;
    //}
    //@media (max-width: 764px) {
    //  height: 362px;

    //}
    //@media (max-width: 424px) {

    //}
  }

}
