.products {
    &__slder {

    }
    &__item {

    }
}

.product-card {
  &__header {

  }
  &__title {
    width: 100%;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__text {
    border-top: 1px solid rgba($success, .1);
    border-bottom: 1px solid rgba($success, .1);
    padding-top: .25rem;
    margin-top: .25rem;
    padding-bottom: .25rem;
    margin-bottom: .25rem;
    font-size: 1.25rem;
    min-height: 150px;
  }
  &__another {
    font-size: 1rem;
  }
}
