.stages {
  &__item {
    position: relative;
    border-bottom: 1px solid rgba($success, .34);
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;

    &:last-child {
      border: none;
    }
  }

  &__item-title {
    font-size: 1.25rem;
    padding-left: 3rem;
  }

  &__item-icon {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 1.5rem;
    color: $success;
  }

  &__item-text {
    margin-bottom: 0;
  }
}
