.where {
  padding-top: 0;
  &__inner {

  }

  &__text {
    @media (min-width: 992px) {
      margin-bottom: 2rem;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    width: calc(33.333% - .25rem);

    @media (min-width: 480px) {
      width: calc(30% - .25rem);
    }
  }

  &__item-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .25rem;
    @media (min-width: 480px) {
      margin-bottom: .7rem;
    }
    @media (min-width: 992px) {
      margin-bottom: 1.5rem;
    }
  }

  &__item-image {

  }

  &__item-text {
    text-align: center;
    margin-bottom: .5rem;
    font-size: .725rem;
    font-weight: 400;
    @media (min-width: 375px) {
      font-size: .75rem;
    }
    @media (min-width: 576px) {
      font-size: 1rem;
    }
    @media (min-width: 992px) {
      font-size: 1.5rem;
    }
  }
}
