.app-header {
  padding: .5rem 15px;
  &--scrolled {
    box-shadow: 0 0.25rem .25rem rgba(0, 0, 0, 0.15) !important;
  }

  &__inner {
    justify-content: start !important;
    @media (min-width: 992px) {
      justify-content: space-between !important;
    }
  }
  &__brand {
    @media (min-width: 992px) {
      margin-right: 2rem;
    }
  }
  &__logo {
    width: 80px;
    @media (min-width: 992px) {
      width: 100px;
    }
  }
  &__text {
    display: none;
    @media (min-width: 992px) {
      display: inline-flex;
      align-items: center;
      line-height: 1.125;
      font-weight: 300;
      font-size: 1rem;
    }
  }
  &__phone, &__email {
    font-size: .875rem;
    line-height: 1.1;
    @media (min-width: 992px) {
      text-align: right;
      font-size: 1.25rem;
    }
  }

  &__phone {
    display: block;
  }

  &__email {
    display: block;
  }

  &__whatsapp {
    font-size: 1.5rem;
    margin-right: .75rem;

    @media (min-width: 992px) {
      font-size: 1.75rem;
      margin-right: 0;
      margin-left: 1.25rem;
    }
  }

  &__navbar-toggler {
    margin-left: auto;
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
  }
}
