.app-header {
  padding: .5rem 7.5px;
  &--scrolled {
    box-shadow: 0 0.25rem .25rem rgba(0, 0, 0, 0.15) !important;
  }

  &__inner {
    position: relative;
    padding: 0;
  }
  &__brand {
    @media (min-width: 992px) {
      margin-right: 2rem;
    }
  }
  &__logo {
    width: 80px;
    @media (min-width: 992px) {
      width: 100px;
    }
  }
  &__text {
    display: none;
    @media (min-width: 992px) {
      display: inline-flex;
      align-items: center;
      line-height: 1.125;
      font-weight: 300;
      font-size: 1rem;
    }
  }

  &__contacts {
    zoom: 0.9;

    @media (min-width: 320px) {
      zoom: 1;
    }
  }

  &__phone {
    text-align: right;
    font-size: 1.125rem;
    letter-spacing: -.1rem;
    font-weight: 400;
    line-height: 1.1;

    @media (min-width: 992px) {
      font-size: 1.625rem;
      letter-spacing: -.05rem;
    }
  }

  &__telegram {
    font-size: 1.5rem;
    color: $success;
    transition: all 300ms;
    margin-left: .625rem;
    margin-right: .625rem;
    &:hover {
      text-decoration: none;
      transform: scale(1.05);
    }

    @media (min-width: 992px) {
      font-size: 2.25rem;
      margin-left: 1.25rem;
      margin-right: 1rem;
    }
  }

  &__whatsapp {
    font-size: 1.5rem;
    color: $success;
    transition: all 300ms;
    margin-right: .625rem;
    &:hover {
      text-decoration: none;
      transform: scale(1.05);
    }
    @media (min-width: 992px) {
      font-size: 2.5rem;
      margin-right: 1.25rem;
    }
  }

  &__navbar-toggler {
    cursor: pointer;
    margin-left: auto;
    padding: 0 .125rem;
    font-size: 1.25rem;
    color: $success;

    &:hover {
      color: $dark;
      transform: scale(1.05);
    }

    @media (min-width: 992px) {
      font-size: 2rem;
    }
  }
}
