.title {
  line-height: 1.125;
  margin-bottom: 1.25rem;
}

.section {
  padding: 2rem 0;
  @media (min-width: 768px) {
    padding: 2.25rem 0;
  }
  @media (min-width: 992px) {
    padding: 2.5rem 0;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      font-size: 1.75rem;
      margin-bottom: 2.25rem;
    }
    @media (min-width: 992px) {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }
  }
}

blockquote,
.blockquote,
blockquote.blockquote {
  padding: 1rem;
  border-left: 3px solid rgba($success, 0.34);
  background-color: rgba($success, 0.14);

  & > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
