.title {
  line-height: 1.125;
  margin-bottom: 1.25rem;
}

.section {
  padding: 2rem 0;
  @media (min-width: 768px) {
    padding: 2.5rem 0;
  }
  @media (min-width: 992px) {
    padding: 3rem 0;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    @media (min-width: 768px) {
      font-size: 1.75rem;
      margin-bottom: 2.5rem;
    }
    @media (min-width: 992px) {
      font-size: 2rem;
      margin-bottom: 4rem;
    }
  }
}

blockquote,
.blockquote,
blockquote.blockquote {
  font-size: inherit;
  padding: .5rem 1rem;
  border-left: 3px solid rgba($success, 0.34);
  background-color: rgba($success, 0.14);

  & > *:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: auto;
}

.defaultquote {
  font-size: inherit;
  padding: .5rem 1rem;
  border-right: 3px solid rgba(34,153,11,.34);
  background-color: rgba(193, 193, 193, .14);
  margin: 0 0 1rem;
  box-shadow: -1px 0px 4px #0000004f;
}
