<footer class="app-footer border-top border-success py-5">
    <div class="app-footer__inner container">
        <div class="row">
            <div class="col-lg-3">
                <img class="app-footer__logo app-logo" src="/images/app-logo.svg" width="691.03" height="282.01" alt="">
            </div>
            <div class="col-lg-3">
                <div class="text-success mb-1">Наш телефон:</div>
                <a href="tel:+78126029390" class="app-footer__phone">+78126029390</a>
            </div>
            <div class="col-lg-3">
                <div class="text-success mb-1">Адрес e-mail:</div>
                <a href="mail: info@smartsignal.ru" class="app-footer__email">info@smartsignal.ru</a>
            </div>
            <div class="col-lg-3">
                <div class="text-success mb-1">Бесплатная консультация:</div>
                <a href="#" class="app-footer__whatsapp">
                    <i class="fab fa-whatsapp"></i> Whatsapp
                </a>
            </div>
        </div>
    </div>
</footer>
