<header class="app-header navbar navbar-expand-lg navbar-light bg-white">
    <div class="app-header__inner container">
        <div class="d-flex">
            <a class="app-header__brand navbar-brand" href="/">
                <img class="app-header__logo app-logo" src="/images/app-logo.svg" alt="">
            </a>
            <span class="app-header__text">
				Мобильная связь, wi-fi сети в частные дома и на коммерческие <br> объекты в Санкт-Петербурге и  Ленинградской области.
			</span>
        </div>
        <div>
            <a href="mail: info@smartsignal.ru" class="app-header__email">info@smartsignal.ru</a>
            <a href="tel:+78126029390" class="app-header__phone">+78126029390</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#appHeaderCollapse" aria-controls="appHeaderCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>

