<header class="app-header navbar fixed-top navbar-light bg-white">
    <div class="app-header__inner container">
        <div class="d-flex">
            <a class="app-header__brand navbar-brand" href="/">
                <img class="app-header__logo app-logo" src="/images/app-logo.svg" alt="">
            </a>
            <span class="app-header__text">
				Мобильная связь, wi-fi сети в частные дома и на коммерческие <br> объекты в Санкт-Петербурге и  Ленинградской области.
			</span>
        </div>
        <div class="app-header__contacts d-flex">
            <a href="tel:+78126029390" class="app-header__phone d-flex justify-content-center align-items-center">+7(812)602-93-90</a>
            <a href="#"
               class="app-header__telegram d-flex justify-content-center align-items-center"
               data-toggle="tooltip" data-placement="bottom" title="Telegram">
                <i class="fab fa-telegram"></i>
            </a>
            <a href="#"
               class="app-header__whatsapp d-flex justify-content-center align-items-center"
               data-toggle="tooltip" data-placement="bottom" title="Whatsapp">
                <i class="fab fa-whatsapp"></i>
            </a>
            <i class="app-header__navbar-toggler fas fa-bars d-flex justify-content-center align-items-center" aria-label="Toggle navigation">
            </i>
        </div>
        ${ require('!!html-loader?interpolate!./menu.html') }
    </div>
</header>

