<div class="app-menu">
    <div class="app-menu__close"><i class="fas fa-times"></i></div>
    <nav class="app-menu__nav">
        <img class="app-menu__logo app-logo" src="/images/app-logo.svg" alt="">
        <ul class="app-menu__list">
            <li class="app-menu__item">
                <a href="#how-anchor" class="app-menu__link app-menu__link--anchor">Как это работает?</a>
            </li>
            <li class="app-menu__item">
                <a href="#why-anchor" class="app-menu__link app-menu__link--anchor">Почему мы?</a>
            </li>
            <li class="app-menu__item">
                <a href="#sert-anchor" class="app-menu__link app-menu__link--anchor">Сертификаты</a>
            </li>
            <li class="app-menu__item">
                <a href="#calc-anchor" class="app-menu__link app-menu__link--anchor">Расчет стоимости</a>
            </li>
            <li class="app-menu__item">
                <a href="#products-anchor" class="app-menu__link app-menu__link--anchor">Типовые решения</a>
            </li>
            <li class="app-menu__item">
                <a href="#stages-anchor" class="app-menu__link app-menu__link--anchor">Этапы работ</a>
            </li>
            <li class="app-menu__item">
                <a href="#signal-level-anchor" class="app-menu__link app-menu__link--anchor">Замер уровня сигнала</a>
            </li>
        </ul>
    </nav>
</div>
